
/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar .link{
    display:flex;
    flex-direction:row;
}
#sidebar.active .link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : .6em 0;
}
#sidebar.active .sidebar-header h3 {
    display: none;
    
}
#sidebar.active .sidebar-header strong {
    font-size: larger;
    display:block;
}
/* Applying style to Sidebar */
#sidebar {
    background: #bfdcae;
    color: #206a5d;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
#sidebar.active {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
}
#sidebar .sidebar-header {
    border-top : 1px white solid;
    color: #f1f1e8;
    padding: 20px;
    background: #81b214;
}
#sidebar ul.components {
    border-top : 1px white solid;
    padding: 10px 20px;
}
#sidebar ul li a {
    font-weight: 400;
    text-decoration: none;
    color:#206a5d;
    padding: 8px 8px;
    font-size: 1rem;
    display: block;
}
#sidebar ul li a:hover {
    transition: .4s;
    font-weight: 600;
    border-radius: 10%;
    color: #f1f1e8;
    background: #81b214;
}
#sidebar.active ul li a {
    text-align: center;
    font-size: 0.65em;
    display: none;
}


/* -------------------------------------------Media Query--------------------------------------- */

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    .sidebar-header h3{
        font-size: 1em;
    }
    #sidebar ul.components{
        padding: 10px 8px;
    }
    #sidebar {
        min-width: 150px;
        max-width: 150px;
        min-height: auto;
    }
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }
   
}